### Real Damage, Predicted Damage and The Prediction Error for typhoon Melor

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("MELOR_gridTomun_fulldata.csv")
df.head()

      mun_code  real_damg  pred_damg
0  PH012901000        0.0   0.057195
1  PH012908000        0.0   0.060973
2  PH012931000        0.0   0.074185
3  PH012932000        0.0   0.121766
4  PH012933000        0.0   0.000000

In [4]:
df['prediction_error'] = df['pred_damg'] - df['real_damg']
df.head()

      mun_code  real_damg  pred_damg  prediction_error
0  PH012901000        0.0   0.057195          0.057195
1  PH012908000        0.0   0.060973          0.060973
2  PH012931000        0.0   0.074185          0.074185
3  PH012932000        0.0   0.121766          0.121766
4  PH012933000        0.0   0.000000          0.000000

In [4]:
#df.to_csv('MELOR_gridTomun_fulldata_updated.csv', index=False)

### Reduced dataset to the same size of municipality dataset by intersection of the municipalities

In [6]:
df1=pd.read_csv("MELOR_gridTomun_reduceddata.csv")
df1.head()

      mun_code  real_damg  pred_damg
0  PH034920000   0.034281   0.497263
1  PH035403000   0.000000   0.001555
2  PH035418000   0.000000   0.001456
3  PH037707000   0.058259   0.848913
4  PH041005000   0.005456   1.842850

In [7]:
df1['prediction_error'] = df1['pred_damg'] - df1['real_damg']
df1.head()

      mun_code  real_damg  pred_damg  prediction_error
0  PH034920000   0.034281   0.497263          0.462981
1  PH035403000   0.000000   0.001555          0.001555
2  PH035418000   0.000000   0.001456          0.001456
3  PH037707000   0.058259   0.848913          0.790654
4  PH041005000   0.005456   1.842850          1.837394

In [8]:
#df1.to_csv('MELOR_gridTomun_reduceddata_updated.csv', index=False)