In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("VAMCO2020.csv")
df

      grid_point_id  real_dmg  pred_dmg
0              9233       0.0  0.000000
1              9234       0.0  0.000000
2              9235       0.0  0.000000
3              9236       0.0  0.000000
4              9237       0.0  0.000000
...             ...       ...       ...
1344          18795       0.0  0.000000
1345          18796       0.0  0.000000
1346          18797       0.0  0.022712
1347          18962       0.0  0.000000
1348          18963       0.0  0.000000

[1349 rows x 3 columns]

In [3]:
df['prediction_error'] = df['pred_dmg'] - df['real_dmg']
df

      grid_point_id  real_dmg  pred_dmg  prediction_error
0              9233       0.0  0.000000          0.000000
1              9234       0.0  0.000000          0.000000
2              9235       0.0  0.000000          0.000000
3              9236       0.0  0.000000          0.000000
4              9237       0.0  0.000000          0.000000
...             ...       ...       ...               ...
1344          18795       0.0  0.000000          0.000000
1345          18796       0.0  0.000000          0.000000
1346          18797       0.0  0.022712          0.022712
1347          18962       0.0  0.000000          0.000000
1348          18963       0.0  0.000000          0.000000

[1349 rows x 4 columns]

In [4]:
# Count the number of positive and negative errors
positive_errors = sum(df['prediction_error'] > 0)
negative_errors = sum(df['prediction_error'] < 0)

In [5]:
print(f"positive_errors rate is: {positive_errors}")
print(f"negative_errors rate is: {negative_errors}")

positive_errors rate is: 796
negative_errors rate is: 346

In [4]:
#df.to_csv('VAMCO2020_updated.csv', index=False)