# Re-scaling buildings to Household Units

In [1]:
%load_ext jupyter_black
import pandas as pd
import os
from pathlib import Path

In [2]:
base_url = (
    Path(os.getenv("STORM_DATA_DIR"))
    / "analysis/02_new_model_input/02_housing_damage/"
)
input_dir = base_url / "input/Google Footprint Data/"

In [3]:
phl_ggl_bld_municip_count = pd.read_csv(
    input_dir / "phl_google_bld_municip_count.csv"
)
phl_ggl_bld_grid_count = pd.read_csv(
    input_dir / "phl_google_bld_grid_count.csv"
)
phl_ggl_bld_intersection_count = pd.read_csv(
    input_dir / "phl_google_bld_intersection_count.csv"
)

### Computing weights

#### Municipality to Grid

In [4]:
mun_to_grid = phl_ggl_bld_intersection_count.merge(
    phl_ggl_bld_municip_count, on="ADM3_PCODE", suffixes=("_x", None)
)
mun_to_grid["weight"] = (
    mun_to_grid["numbuildings_x"] / mun_to_grid["numbuildings"]
)
mun_to_grid[mun_to_grid["Centroid"] == "122.1E_17.4N"]

,ADM3_PCODE,ADM3_EN_x,id,Centroid,numbuildings_x,ADM3_EN,numbuildings,weight
7439,PH023106000,Cabagan,13064.0,122.1E_17.4N,0,Cabagan,26094,0.000000
7473,PH023133000,San Pablo,13064.0,122.1E_17.4N,0,San Pablo,13510,0.000000
7488,PH023137000,Tumauini,13064.0,122.1E_17.4N,0,Tumauini,35325,0.000000
7494,PH023117000,Maconacon,13064.0,122.1E_17.4N,1,Maconacon,1578,0.000634

In [5]:
mun_to_grid.to_csv(input_dir / "ggl_mun_to_grid_weights.csv", index=False)

#### Grid to Municipality

In [5]:
grid_to_mun = phl_ggl_bld_intersection_count.merge(
    phl_ggl_bld_grid_count, on="Centroid", suffixes=("_x", None)
)
grid_to_mun["weight"] = (
    grid_to_mun["numbuildings_x"] / grid_to_mun["numbuildings"]
)
grid_to_mun.groupby("Centroid").sum().sort_values(by="weight")

C:\Users\pauni\AppData\Local\Temp\ipykernel_12072\1780964883.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grid_to_mun.groupby("Centroid").sum().sort_values(by="weight")

                 id_x  numbuildings_x     id  numbuildings  weight
Centroid
114.3E_11.1N    101.0               0    101             1     0.0
120.3E_11.2N  10120.0               0  10120             1     0.0
120.3E_12.4N  10108.0               0  10108             1     0.0
120.3E_13.9N  10093.0               0  10093             1     0.0
122.0E_21.1N  12860.0               0  12860             1     0.0
...               ...             ...    ...           ...     ...
121.6E_18.3N  48880.0            6037  48880         24148     1.0
121.6E_18.4N  24438.0            5661  24438         11322     1.0
121.6E_5.9N   12344.0               2  12344             2     1.0
121.6E_15.8N  24490.0            9167  24490         18334     1.0
126.6E_7.7N   20676.0             699  20676           699     1.0

[3726 rows x 5 columns]

In [7]:
grid_to_mun.to_csv(input_dir / "ggl_grid_to_mun_weights.csv", index=False)

### Re-scaling number of buildings with Housing Units data

The housing units data is from `https://data.humdata.org/dataset/philippines-pre-disaster-indicators`

- File URL `https://data.humdata.org/dataset/f26a0a04-0549-4139-af91-81dfa6e56082/resource/557b601f-e2f5-42ef-8742-e47395427384/download/180814_construction-materials-of-the-outer-walls-and-roof_by-city_municipality.xlsx`

In [10]:
construction_materials_df = pd.read_excel(
    base_url
    / "input/180814_construction-materials-of-the-outer-walls-and-roof_by-city_municipality.xlsx",
    sheet_name="by category",
)

In [27]:
housing_units_df = construction_materials_df[
    ["Municipality_City Code", "Housing Units"]
]
# using right join to preserve all municipalities
hu_grid = housing_units_df.merge(
    mun_to_grid[["ADM3_PCODE", "id", "Centroid", "weight"]],
    how="right",
    left_on="Municipality_City Code",
    right_on="ADM3_PCODE",
)
hu_grid["hu_bygrid"] = hu_grid["Housing Units"] * hu_grid["weight"]
hu_grid = hu_grid.groupby(["id", "Centroid"]).sum().reset_index()
hu_grid.drop(["Housing Units", "weight"], axis=1, inplace=True)

C:\Users\pauni\AppData\Local\Temp\ipykernel_12072\1214177830.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  hu_grid = hu_grid.groupby(["id", "Centroid"]).sum().reset_index()

In [39]:
rescaled_df = phl_ggl_bld_grid_count.merge(hu_grid, on=["id", "Centroid"])
rescaled_df["normalisation"] = (
    rescaled_df["numbuildings"] - min(rescaled_df["numbuildings"])
) / (max(rescaled_df["numbuildings"]) - min(rescaled_df["numbuildings"]))

In [42]:
rescaled_df["numbuildings_rescaled"] = (
    (max(rescaled_df["hu_bygrid"]) - min(rescaled_df["hu_bygrid"]))
    * rescaled_df["normalisation"]
) + min(rescaled_df["hu_bygrid"])
rescaled_df

,id,Centroid,numbuildings,hu_bygrid,normalisation,numbuildings_rescaled
0,101,114.3E_11.1N,1,0.000000,0.000000,0.000000
1,4475,116.9E_7.9N,3,3.301020,0.000005,2.628425
2,4639,117.0E_8.2N,11,12.103741,0.000023,13.142123
3,4640,117.0E_8.1N,587,645.899660,0.001353,770.128411
4,4641,117.0E_8.0N,974,1071.731293,0.002246,1278.728573
...,...,...,...,...,...,...
3721,20677,126.6E_7.6N,7393,4449.357133,0.017061,9714.657363
3722,20678,126.6E_7.5N,2528,1521.435795,0.005833,3321.014496
3723,20679,126.6E_7.4N,1484,930.647069,0.003423,1948.976849
3724,20680,126.6E_7.3N,2798,1800.666044,0.006456,3675.851819
3725,20681,126.6E_7.2N,468,373.146778,0.001078,613.737147

In [ ]:
rescaled_df.to_csv(input_dir / "rescaled_blds_bygrid.csv", index=False)